.classCard {
    width: 15rem;
    height: 3rem;
    background-color: white;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .classCard:hover {
    background-color: aquamarine;
  }
  
  .buttonBox {
    display: flex;
    justify-content: space-between;
  }
  
  .buttonBox > button {
    height: 30px;
    width: 110px;
    padding: 0 .5rem;
    border-radius: 25px;
    border: none;
    font-weight: 500;
  }
  
  .name {
    font-size: 2rem;
    text-align: center;
  }