.header {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    height: 50px;
  }

  .logo {
    max-width: 100%;
    max-width: 100%;
    object-fit: contain;
  }
  
.pageTitle {
    display: flex;
  }
  
.pageTitle {
    margin-right: .4rem;
  }