.button {
    background-color: rgb(186, 190, 251);
    border-radius: .4rem;
    border: none;
    padding: .4rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin: .4rem .4rem;
    align-self: center;
    width:max-content;
  }
  
  .button:hover {
    background-color: rgb(101, 111, 253);
  }