.studentGrid {
    display: flex;
    height: calc(100% - 2.8rem -2.8rem);
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.toolbarButton {
    background-color: rgb(70, 82, 255);
    border-radius: .4rem;
    border: none;
    padding: 0 .4rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin: .4rem .4rem;
}

.toolbarButton:hover {
    background-color: rgb(101, 111, 253);
}

/* Share Button */

.shareHeading {
    font-size: 1rem;
}

.shareCode {
    font-weight: 600;
}

.shareMessage {
    font-size: 1rem;
}

/* Add student dialog */

.addStudentForm {
    display: flex;
    flex-direction: column;
}

.addStudentForm > label {
    font-size: 1rem;
}

.addStudentForm > input {
    border-radius: .4rem;
    margin: .4rem 0;
    font-size: 1.2rem;
}

.addStudentForm > div {
    display: flex;
    justify-content: space-around;
}

.addStudentForm  button {
    background-color: rgb(186, 190, 251);
    border-radius: .4rem;
    border: none;
    padding: 0 .4rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin: .4rem .4rem;
  }

  .addStudentForm  button:hover {
    background-color: rgb(101, 111, 253);
  }